<h1>New Clinic</h1>

<% if @clinic.errors.present? %>
  <ul>
    <% @clinic.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @clinic, url: '/clinics', local: true) do |f| %>
    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
    </p>
    <%= f.submit 'create' %>
<% end %>