<h1>New Participant</h1>

<%= (1..10).to_a.each {|x| puts 'x'} %>

<% if @participant.errors.present? %>
  <ul>
    <% @participant.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @participant, url: '/participants', local: true) do |f| %>
    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
    </p>
    <p>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
    </p>
    <%= f.submit 'create' %>
<% end %>

